@import 'theme/opensans';

@import 'theme/variables';
@import 'theme/mixins';
@import 'theme/bootstrap';
@import 'theme/nav-list';
@import 'theme/dialog';
@import 'theme/modals';
@import 'theme/buttons';

$fa-font-path: "/fonts" !default;
@import 'node_modules/font-awesome/scss/font-awesome';

pre {
    border: none;
    padding: 0;
    font-size: 14px;
}
